<template>
  <v-layout justify-center class="animated--group animated">
    <v-flex xs12 sm9 md9>
      <v-subheader>Today</v-subheader>

      <v-expansion-panel>
        <v-expansion-panel-content v-for="(message, i) in messages" :key="i" hide-actions class="message__box">
          <v-layout slot="header" align-center row spacer>
            <v-flex xs4 sm2 md1>
              <v-avatar slot="activator" size="36px">
                <img v-if="message.avatar" src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460" alt="Avatar">
                <v-icon v-else :color="message.color" v-text="message.icon"></v-icon>
              </v-avatar>
            </v-flex>

            <v-flex sm5 md3 hidden-xs-only>
              <strong v-html="message.name"></strong>
              <span v-if="message.total" class="grey--text">
              &nbsp;({{ message.total }})
            </span>
            </v-flex>

            <v-flex no-wrap xs5 sm3>
              <v-chip v-if="message.new" :color="`${message.color} lighten-4`" class="ml-0" label small>
                {{ message.new }} new
              </v-chip>
              <strong v-html="message.title"></strong>
            </v-flex>

            <v-flex v-if="message.excerpt" class="grey--text" ellipsis hidden-sm-and-down>
              &mdash;
              {{ message.excerpt }}
            </v-flex>
          </v-layout>

          <v-card>
            <v-card-text v-text="lorem"></v-card-text>
            <v-card-actions class="text-md-right float-right pb-2">
              <v-btn color="warning" small>
                <small>Archive</small>
              </v-btn>
              <v-btn color="indigo" class="text--white" small>
                <small>delete</small>
              </v-btn>
              <v-btn small>
                <small>trash</small>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-flex>
    <v-flex xs12 sm3 md3>
      Some
    </v-flex>
  </v-layout>
</template>
<script>
import {GET_MESSAGES_LIST} from "../../store/actions.type";
import {mapGetters} from 'vuex'

export default {
  data: () => ({
    messages: [
      {
        avatar: 'https://avatars0.githubusercontent.com/u/9064066?v=4&s=460',
        name: 'John Leider',
        title: 'Welcome to Vuetify.js!',
        excerpt: 'Thank you for joining our community...'
      },
      {
        color: 'red',
        icon: 'people',
        name: 'Social',
        new: 1,
        total: 3,
        title: 'Twitter'
      },
      {
        color: 'teal',
        icon: 'local_offer',
        name: 'Promos',
        new: 2,
        total: 4,
        title: 'Shop your way',
        exceprt: 'New deals available, Join Today'
      },
      {
        color: 'teal',
        icon: 'local_offer',
        name: 'Promos',
        new: 2,
        total: 4,
        title: 'Shop your way',
        exceprt: 'New deals available, Join Today'
      },
      {
        color: 'teal',
        icon: 'local_offer',
        name: 'Promos',
        new: 2,
        total: 4,
        title: 'Shop your way',
        exceprt: 'New deals available, Join Today'
      },
      {
        color: 'red',
        icon: 'people',
        name: 'Social',
        new: 1,
        total: 3,
        title: 'Twitter'
      },
      {
        color: 'teal',
        icon: 'local_offer',
        name: 'Promos',
        new: 2,
        total: 4,
        title: 'Shop your way',
        exceprt: 'New deals available, Join Today'
      },
    ],
    lorem: 'Lorem ipsum dolor sit amet, at aliquam vivendum vel, everti delicatissimi cu eos. Dico iuvaret debitis mel an, et cum zril menandri. Eum in consul legimus accusam. Ea dico abhorreant duo, quo illum minimum incorrupte no, nostro voluptaria sea eu. Suas eligendi ius at, at nemore equidem est. Sed in error hendrerit, in consul constituam cum.'
  }),
  computed: {
    messagesList() {
      return this.getMessagesList
    },
    ...mapGetters([
      'getMessagesList'
    ])
  },
  methods: {
    fetchMessages() {
      this.$store.dispatch(GET_MESSAGES_LIST)
    }
  },
  created() {
    this.fetchMessages()
  }
}
</script>

