<template>
  <div class="w-100 py-5">
      <form ref="uploadForm" method="post" enctype="multipart/form-data">
        <v-flex md12>
          <input type="file" id="cvUpload" @change="onFileChange">
          <label for="cvUpload"><v-icon fab style="margin-bottom: -3px !important;">attach_file</v-icon></label>
          <input type="text" id="file_text" readonly disabled placeholder="Select CVS...">
        </v-flex>
        <v-flex md12 class="pt-3">
          <v-layout row>
            <v-flex md6>
              <v-btn
                :loading="buttonLoad"
                :disabled="!mail"
                color="blue-grey"
                block
                flat
                class="text--white"
                @click="uploadFile"
                v-show="inputFileValue != ''"
              >
                Upload<v-icon class="pl-2">cloud_upload</v-icon>
              </v-btn>
            </v-flex>
            <v-flex md6>
              <v-btn color="red" block flat class="text--white" v-if="deleteFileValue != '' || inputFileValue != ''" @click="deleteFile">
                Remove <v-icon>delete</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-flex>
      </form>
  </div>
</template>

<script>
import axios from 'axios'
import {api, headers} from "@/helpers/api";

export default {
    name: 'uploader',
    props: ['email', 'attachedFile'],
    data() {
      return {
        val: '',
        del: '',
        content: '',
        uploaded: '',
        mail: '',
        loader: null,
        buttonLoad: false,
      }
    },
    computed: {
      inputFileValue() {
        return this.val
      },
      deleteFileValue() {
        return this.del
      }
    },
    methods: {
      uploadFile() {
        let filesCvs = new FormData()
        filesCvs.set('upload_cvs', this.val)
        filesCvs.set('c_email', this.email)
        this.loader = this.buttonLoad
        return new Promise((resolve, reject) => {
          axios({
            method: 'post',
            url: api.uploadCandidateCvs,
            data: filesCvs,
            headers
          })
            .then(res => {
              console.log('del: ' + res.data.text)
              resolve(res.data)
              if(res.data.message == 'success') {
                this.del = res.data.text
                this.uploaded = res.data.text
                this.$emit('file-uploaded', this.del)
              }
              this.val =  ''
              this.$emit('uploaded', res.data.text)
            })
            .catch(e => {
              reject(e.response)
              if(e.response) {
                console.log(e.response.status + ', ' + e.response.data.message)
              }
            })
        })
      },
      deleteFile() {
        return new Promise((resolve, reject) => {
          axios({
            method: 'post',
            url: api.deleteCandidateCvs,
            data: {'removeFile': this.del.length > 0 ? this.del : this.attachedFile},
            headers
          })
            .then(res => {
              resolve(res.data)
              if(res.data.message) {
                this.del = ''
                this.$emit('file-removed')
                this.uploaded = ''
              }
              this.val = ''
              this.$emit('deleted')
              this.resetForm()
            })
            .catch(e => {
              reject(e.response)
              if(e.response) {
                console.log(e.response.status + ', ' + e.response.data.message)
              }
            })
        })
      },
      onFileChange(e) {
        let files = e.target.files[0]
        this.val = ''
        this.val = files
        document.getElementById('file_text').value = files.name
      },
      resetForm() {
        this.$refs.uploadForm.reset()
      }
    },
    watch: {
      email(newVal) {
        this.mail = newVal
      }
    },
  }
</script>

<style scoped>
  .w-100 {
    background: #f7f7f7;
    border: 1px dashed #ddd;
    width: 100% !important;
    padding: 15px 20px;
  }

  #cvUpload {
    display: none;
  }
  label[for="cvUpload"] {
    border-radius: 50%;
    padding: 10px 7px;
    background: #2196F3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  label[for="cvUpload"] > i {
    margin: 0 !important;
    color: white !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  input#file_text {
    border: 0;
    width: 180px;
    text-align: center;
    color: gray;
    border-bottom: 2px solid #d2d2d2;
  }
  input#file_text:focus {
    outline: 0 !important;
  }
  input#file_text::placeholder {
    color: #c3c3c3;
  }

</style>
