<template>
  <!--
  <v-toolbar color="cyan" dark extended flat class="toolbar--full">
  </v-toolbar>
  -->
  <v-container class="v-c mt-5 animated--group animated profile__container--box">
    <v-layout row wrap>
      <v-flex xs12 sm7 md7 class="cols--pd">
        <v-layout row wrap>
          <v-flex xs12 md12>
            <h2 class="text-md-left text--info">Profile info</h2>
            <span class="d-block border-bottom-2 mb-5 pt-2"></span>
          </v-flex>
          <v-flex xs12 md12>
            <v-form ref="form" lazy-validation>
              <v-text-field
                v-model="userProfile.email"
                label="E-mail"
              ></v-text-field>
              <br>
              <v-text-field
                type="password"
                v-model="profile.old_password"
                label="Old password"
              ></v-text-field>
              <v-text-field
                type="password"
                v-model="profile.new_password"
                label="New password"
              ></v-text-field>
              <v-btn color="primary" @click="updateProfile">update changes</v-btn>
            </v-form>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm5 md5 class="cols--pd">
        <v-layout row wrap>
          <v-flex xs12 md12>
            <h2 class="text-md-left text--info">Avatar</h2>
            <span class="d-block border-bottom-2 mb-5 pt-2"></span>
          </v-flex>
          <v-flex xs12 md12>
            Avatar placed here...
            <br>
            <v-avatar
              :tile="false"
              :size="120"
              color="grey lighten-4"
            >
              <img v-if="userProfile.avatar != null" :src="imgPath + userProfile.avatar" alt="avatar">
            </v-avatar>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-snackbar
      :timeout="5000"
      :color="getSnackBar.type == '200' ? 'cyan darken-2' : 'error'"
      v-model="getSnackBar.state"
    >
      {{ getSnackBar.type == '200' ? 'Profile successfully updated!' : 'Error while updating' }}
      <v-btn dark flat @click.native="getSnackBar.state = false">Close</v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
import { mapGetters } from 'vuex'
import store from '../../store'
import { UPDATE_PROFILE, CHECK_AUTH } from "../../store/actions.type";

export default {
    name: 'profile',
    data() {
        return {
            profile: {
                old_password: '',
                new_password: '',
            },
            imgPath: 'http://ajax-lv/dashboard/assets/img/'
        }
    },
    computed: {
        ...mapGetters([
            'userProfile',
            'getSnackBar'
        ])
    },
    methods: {
        updateProfile() {
            store.dispatch(UPDATE_PROFILE, {
                id: this.userProfile.id,
                email: this.userProfile.email,
                old_password: this.old_password,
                new_password: this.new_password
            })
        }
    },
    created() {
      store.dispatch(CHECK_AUTH)
    }
}
</script>
<style>
  div.profile__container {
    margin: auto -24px;
  }

  .toolbar--full {
    margin-top: -40px !important;
  }

  .profile__container--box {
    /*margin-top: -60px !important;*/
    width: 80% !important;
  }
</style>
