<template>
  <v-container class="no--borders" fluid grid-list-md v-if="!isLoadingStatus">
    <v-layout row wrap>
      <v-flex xs12 sm6 md4 v-for="(item, key) in getAllOpenings.data" :key="key">
        <v-card class="v-c mx-2 mb-4 opening--box">
          <v-img
            class="white--text opening--img__bg"
            height="200px"
            :src="imgPath + item.img"
          >
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline opening--header__text">{{item.title}}</span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>
          <v-card-title>
            <div>
              <span class="grey--text">Number 10</span><br>
              <span>Whitehaven Beach</span><br>
              <span>Whitsunday Island, Whitsunday Islands</span>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-menu
              bottom
              origin="center center"
              transition="scale-transition"
            >
              <v-btn slot="activator" flat color="orange">Share</v-btn>
              <v-list>
                <v-list-tile v-for="(item, key) in shareLinks" :key="key">
                  <v-list-tile-title>
                    {{item.title}}
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>

            <v-btn flat color="orange">View</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import {mapGetters} from 'vuex'
import {FETCH_OPENINGS_ALL} from "../../store/actions.type";

export default {
  data() {
    return {
      imgPath: 'http://rii.loc/images/openings/',
      shareLinks: [
        {icon: 'ink', title: 'linkedin'},
        {icon: 'fb', title: 'facebook'},
        {icon: 'gplus', title: 'google-plus'}
      ]
    }
  },
  methods: {
    getOpeningsList() {
      this.$store.dispatch(FETCH_OPENINGS_ALL)
    }
  },
  computed: {
    ...mapGetters([
      'getAllOpenings',
      'isLoadingStatus',
    ])
  },
  created() {
    this.getOpeningsList()
  }
}
</script>
<style scoped>
  span.shadow--text {
    text-shadow: 0 0 3px rgba(204,204,204,.78);
  }

  .no--borders {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
</style>
