@font-face {
    font-family: 'Europe-Ext-Italic';
    src: url('../fonts/europe_ext_italic/EuropeExt-Italic_e.eot');
    src: url('../fonts/europe_ext_italic/EuropeExt-Italic_w2.woff2') format('woff2'),
    url('../fonts/europe_ext_italic/EuropeExt-Italic_m.woff') format('woff'),
    url('../fonts/europe_ext_italic/EuropeExt-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype');
}

/*.application.theme--light {background: #EDF1F3 !important;}*/
.application.theme--light {background-color: #eee; background-image: url('/static/assets/images/mailgun_bg.png') !important;}
div.search--toolbar > i.text--primary {color: white !important;}

/** Base **/
.aside--bg {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: all .3s cubic-bezier(.35,0,.25,1);
}
aside.v-navigation-drawer div.v-navigation-drawer__border {background-color: transparent !important;}
.text--white {color: white !important;}
.text--info {color: #00b0ff !important;}
.text--primary {color: #1976d2 !important;}
.btn--success2 {background: #00ad46;color: white;}
.btn--full-width {width: 100%;}
button.button--mlr--20 {margin-left: 20% !important;margin-right: 20% !important;}
.img-preview-shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn--orange {color: white !important;background: #f60 !important;}
.border-bottom-2 {border-bottom: 2px solid #00b0ff;}

/*** Containers ***/
.v-c, .v-c.opening--box {
  background: white;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.no-box-shadow div.v-input__slot {box-shadow: none !important;}

/***** Paddings *****/
.p-1 {padding: 10px !important;}
.p-2 {padding: 20px !important;}
.p-3 {padding: 30px !important;}
.p-4 {padding: 40px !important;}
.p-5 {padding: 50px !important;}
.pt-1 {padding-top: 10px !important;}
.pt-2 {padding-top: 20px !important;}
.pt-3 {padding-top: 30px !important;}
.pt-4 {padding-top: 40px !important;}
.pt-5 {padding-top: 50px !important;}
.pr-1 {padding-right: 10px !important;}
.pr-2 {padding-right: 20px !important;}
.pr-3 {padding-right: 30px !important;}
.pr-4 {padding-right: 40px !important;}
.pr-5 {padding-right: 50px !important;}
.pb-1 {padding-bottom: 10px !important;}
.pb-2 {padding-bottom: 20px !important;}
.pb-3 {padding-bottom: 30px !important;}
.pb-4 {padding-bottom: 40px !important;}
.pb-5 {padding-bottom: 50px !important;}
.pl-1 {padding-left: 10px !important;}
.pl-2 {padding-left: 20px !important;}
.pl-3 {padding-left: 30px !important;}
.pl-4 {padding-left: 40px !important;}
.pl-5 {padding-left: 50px !important;}

.pb-half {padding-bottom: 5px !important;}

.mb-3 {margin-bottom: 50px;}
/** Auth **/
.auth--layer {
    background: url(../images/main_logo2.jpg)no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.sign--mask {background-color: rgba(62,69,81,.7) !important;}
form.sign--form i.v-icon, form.sign--form label {color: white !important;}
form.sign--form .v-input__slot::before {background-color: #cdcdcd !important;}
form.sign--form div.auth--fields input {color: white !important;}

/** Glyph-Icons **/
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-equalizer:before {content: "\e210";}

/*** Text colors ***/
.text-dark-grey {color: #616161;}

/** Nav links **/
.v-list__tile--active {
  /*background: #E8F0FE;
  border-left: 2px solid;*/
  color: #E8F0FE;
}

.link-text-size {
  font-size: 14px;
  text-transform: capitalize;
}

.logout-link {
  color: #f60;
  text-shadow: 0 0 3px rgba(255,255,255, 0.86);
}

/** Transition content **/
.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

/** Content **/
.no--padding {
    padding-top: 15px !important;
}

.nav--dash {
  background: url('/static/assets/images/sidebar-bg/sidebar-2.jpg') no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  /*background: rgba(255,255,255,.95) !important;*/
  transition: all .3s cubic-bezier(.35,0,.25,1);
}

.nav--dash__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 1 !important;
}

.nav--dash__bg::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #fff;
  opacity: .93;
  z-index: -1;
}

.nav--dash a.v-list__tile--link {
  margin: 5px auto !important;
}

.right--drawer__card {
  border-radius: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}

.no--border > div.input-group__input {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.icon-right {margin-right: 7px !important;}

span.badge {
    border-radius: 4px;
    display: inline-block;
    padding: 0 .4em;
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.badge-warning {background: #f60;color: white;}
.badge-danger {background: #ff3547;color: white;}
.badge-success {background: #00C851;color: white;}
.badge-info {background: #2196f3;color: white;}
.badge-primary {background: #1867c0;color: white;}
.badge-cyan {background: #00bcd4;color: white;}
.badge-teal {background: #009688;color: white;}
.badge-indigo {background: #3f51b5;color: white;}
.badge-yellow {background: #ffc107; color: white;}

.float-right {float: right !important;}
.float-left {float: left !important;}

.status--mark__default {color: #333;}
.status--mark__warning {color: #f6c343;}
.status--mark__info {color: #39afd1;}
.status--mark__primary {color: #2c7be5;}
.status--mark__success {color: #00d97e;}
.status--mark__danger {color: #e63757;}

/*** Data tables custom css ***/
div.candidate--table {position: relative !important;width: 100% !important;}
div.candidate--table table.v-table thead {background: #F5F7FA !important;}
.no-box-shadow {box-shadow: none !important; border-radius: 4px !important;}
.br {border-radius: 4px !important;}
.candidate-table-pagination div.v-datatable__actions {flex-direction: row-reverse !important;}
div.hp--table div.v-table__overflow {overflow-x: hidden}

/*** Candidates ***/
.new-candidate {
  background: #effdf3 !important;
}

.new-candidate td:nth-child(1) {
  border-left: 8px solid #E4F2E8 !important;
}

.toolbar--full {
  padding: 0 !important;
}

/** Notifications in card **/
.notif--box {
  background: rgba(30,110,193,0.2) !important;
  border-color: #84b3e4 !important;
  color: #1e6ec1 !important;
  border-left: 3px solid;
  border-radius: 0 !important;
}

.notif--box__inherit {
  color: inherit !important;
  background: inherit !important;
}

/** Cards **/
.card--shadows {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
}

.card--title {
  border-radius: 4px 4px 0 0 !important;
  background: #f1f7fa !important;
}

.card--wp {
  padding: 4px !important;
}

span.opening--chips__title {
  left: -5px !important;
  top: -5px !important;
  position: absolute !important;
  box-shadow: inset 0 -200px 137px -68px rgba(0,0,0,.45) !important;
}

.opening--img__bg .v-image__image--cover {
  box-shadow: inset 0 -200px 137px -68px rgba(0,0,0,.45) !important;
}

.opening--header__text {
  position: absolute;
  bottom: 15px;
  text-shadow: 0 0 3px rgba(50,50,50,.64);
}

.opening--box__bg {
  width: 100%;
  height: 80px;
  background-size: cover !important;
  object-fit: cover;
}

div.scroll--box {
  max-height: 450px;
  overflow-y: scroll;
}

div.opening--hover:hover {
  cursor: pointer;
}

.hp--top {
    margin-top: 52px;
}

.cols--pd {
    padding-left: 15px;
    padding-right: 15px;
}


/** Logo container **/
.theme__dark {
    background: #343A3F !important;
    color: #fff !important;
}

.small__ico__header {
    font-size: 18px !important;
    color: #27ae61 !important;
}

.navbar__title__text {
    margin-left: 6px !important;
    margin-top: 5px !important;
    font-family: 'Europe-Ext-Italic' !important;
    font-size: 22px !important;
    font-weight: bold;
}

.logo__container {
    margin-top: 30px;
    height: 350px;
    background-image: linear-gradient(to top, transparent 5%, #1f1f1f 100%), url(../images/Slide10.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.logo__container__zdepth {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.spacer.menu--space {
  height: 10px;
}

/*************************
* Custom effects
*************************/
.animated--group {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.animated--group.animated {
  -webkit-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards; }

.animated--group {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

@-webkit-keyframes display {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes display {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/***********************************************
* Widgets > Animate
***********************************************/
.widget,
.animated--group,
.animated--block {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.widget.animated,
.animated--group.animated,
.animated--block.animated {
  -webkit-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards; }

.widget,
.animated--group,
.animated--block {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

@-webkit-keyframes display {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes display {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/**
 Spinners
 */
.spinner {
  position: absolute;
  margin: 100px auto 0;
  width: 100%;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  /*background-color: gray;*/
  background-color: #00bcd4;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

/**
* isLoading Status
*/
.pos-r {position: relative !important;}
.status__bar__card {position: absolute; top: 40%; width: 100%; height: 45px; margin: auto;}
.status__bar__card .spinner {margin: auto !important;}
.status__bar__card .spinner > div {width: 22px !important; height: 22px !important; box-shadow: 0 0 4px rgba(80, 78, 78, 0.6)}

/**
* Pagination
*/
li.disabled .chevron-dis {
  color: #eee !important;
}

ul.pagination *:focus {
  outline: none !important;
}

button.pagination__item:focus,
button.pagination__item--active:focus,
.pagination li:focus {outline: none !important;}

div.pagination--toolbar button:focus {outline: none !important;}
