<template>
    <v-app id="inspire">
        <navbar :auth="auth" @logout="logout" />
        <v-content class="auth--layer">
            <v-container fluid fill-height class="sign--mask">
                <transition name="fade" mode="out-in" column align-center>
                    <router-view />
                </transition>
                <v-dialog v-model="isLoading" persistent max-width="350" class="no-shadows">
                    <v-card style="padding: 20px; background: transparent; opacity: .85" class="no-shadows">
                        <v-card-text class="text-md-center">
                            <v-progress-circular :size="80" :width="7" indeterminate color="grey lighten-2"></v-progress-circular>
                        </v-card-text>
                    </v-card>
                </v-dialog>
            </v-container>
        </v-content>
    </v-app>
</template>
<script>
import store from '../store'
import { LOGOUT } from "../store/actions.type"
import Navbar from './Navbar.vue'

export default {
    components: { Navbar },
    computed: {
        isLoading() {
            return store.getters.isLoadingStatus
        },
        auth() {
            return store.getters.userAuth
        }
    },
    methods: {
        logout() {
            store.dispatch(LOGOUT)
        }
    }
}
</script>
<style>
    .no-shadows, .v-dialog--persistent {
        box-shadow: none !important;
    }
</style>
