<template>
  <v-app id="app">
    <!--
    <v-navigation-drawer fixed :clipped="$vuetify.breakpoint.lgAndUp" app v-model="drawer" class="aside--bg" :style="isLeftHide">
      <v-spacer></v-spacer>
      <navbar-dash :auth="userAuth" :isLoadingMenu="isLoadingMenuStatus" :root="userRole" @logout="logout" />
    </v-navigation-drawer>
    //-->
    <v-navigation-drawer fixed :clipped="$vuetify.breakpoint.lgAndUp" app v-model="drawer" style="background: transparent !important;" :style="isLeftHide">
      <v-spacer></v-spacer>
      <navbar-dash :auth="userAuth" :isLoadingMenu="isLoadingMenuStatus" :root="userRole" @logout="logout" />
    </v-navigation-drawer>


    <v-navigation-drawer right temporary v-model="rightDrawer" class="right--drawer right-menu" fixed>
      <toolbar />
    </v-navigation-drawer>

    <v-toolbar color="cyan" class="bg-nav-dark animated--group animated" dark app :clipped-left="$vuetify.breakpoint.lgAndUp" fixed>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">
          <i>Recruiteriia</i>
        </span>
      </v-toolbar-title>
      <v-text-field flat solo-inverted prepend-icon="search" label="Search" class="hidden-sm-and-down search--toolbar"></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon @click.stop="toggleDrawer">
        <v-icon>notifications</v-icon>
      </v-btn>
    </v-toolbar>

    <v-content class="main-content pos-r" :style="mainContentFull">
      <v-container>

        <div class="status__bar__card" v-if="isLoadingStatus">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

        <transition name="fade" mode="out-in" column align-center>
          <router-view />
        </transition>

      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import store from '@/store'
import { LOGOUT } from "@/store/actions.type"
import { mapGetters } from 'vuex'
import NavbarDash from '@/views/NavbarDash'
import RightDrawer from '@/views/RightDrawer'
import Toolbar from '@/components/Toolbar/RightToolbar'

export default {
  components: {NavbarDash, RightDrawer, Toolbar},
  data () {
      return {
        drawer: null,
        rightDrawer: false,
        newNotifications: {
          newMessages: null,
          newCandidates: null
        },
      }
  },
  computed: {
      mainContentFull() {
        if(this.drawer === true) {
          let pl = 'padding-left: 200px !important';
          return pl
        }
      },
      isLeftHide() {
        if(this.rightDrawer === true) {
          let ld = 'z-index: 0'
          return ld
        }
      },
      ...mapGetters([
        'userProfile',
        'userRole',
        'isLoadingStatus',
        'isLoadingMenuStatus',
        'userAuth',
      ]),
  },
  methods: {
      logout() {
          store.dispatch(LOGOUT)
      },
      toggleDrawer() {
        this.rightDrawer = !this.rightDrawer
      },
  },
}
</script>
<style>
  .fade-enter-active, .fade-leave-active {
      transition: opacity .2s !important;
  }
  .fade-enter, .fade-leave-to {
      opacity: 0 !important;
  }

  .no-shadows, .v-dialog--persistent {
      box-shadow: none !important;
  }

  aside {
    width: 200px !important;
  }

  aside.right--drawer {
    width: 300px !important;
  }
</style>
