<!--
<template>
  <v-list dense class="pt-2 nav--dash nav--dash__bg" style="position:relative;">

      <v-divider></v-divider>

    <div v-if="isLoadingMenuStatus" v-once>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <div v-else>
      <v-list-tile to="/dash" exact :key="1">
        <v-list-tile-action>
          <v-icon>dashboard</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">homepage</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-divider></v-divider>

      <v-list-tile to="/dash/candidates" :key="2">
        <v-list-tile-action>
          <v-icon>supervisor_account</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">candidates</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile to="/dash/candidate/add" :key="3">
        <v-list-tile-action>
          <v-icon>person_add</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">add candidate</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-divider></v-divider>

      <v-list-tile v-if="rootAdmin" to="/dash/openings" :key="4">
        <v-list-tile-action>
          <v-icon>description</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">openings</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile v-if="rootAdmin" to="/dash/messages" :key="5">
        <v-list-tile-action>
          <v-icon>mail</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">messages</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile v-if="rootAdmin" to="/dash/calendar" :key="6">
        <v-list-tile-action>
          <v-icon>event_available</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">calendar</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile v-if="rootAdmin" to="/dash/notes" :key="7">
        <v-list-tile-action>
          <v-icon>forum</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">notes</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile v-if="rootAdmin" to="/dash/history" :key="8">
        <v-list-tile-action>
          <v-icon>restore</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">history</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile to="/dash/profile" :key="9">
        <v-list-tile-action>
          <v-icon>account_box</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">profile</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-divider></v-divider>

      <v-list-tile to="/login" @click="loggout" :key="10">
        <v-list-tile-action>
          <v-icon>exit_to_app</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size logout-link">logout</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </div>

    </v-list>
</template>
//-->
<template>
  <v-list dense style="position:relative;" class="mt-3">

    <div v-if="isLoadingMenuStatus" v-once>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <div v-else>
      <v-list-tile to="/dash" class="nav-link" exact :key="1">
        <v-list-tile-action>
          <v-icon>dashboard</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">homepage</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-spacer class="menu--space"></v-spacer>

      <v-list-tile to="/dash/candidates" class="nav-link" :key="2">
        <v-list-tile-action>
          <v-icon>supervisor_account</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">candidates</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile to="/dash/candidate/add" class="nav-link" :key="3">
        <v-list-tile-action>
          <v-icon>person_add</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">add candidate</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-spacer class="menu--space"></v-spacer>

      <v-list-tile v-if="rootAdmin" to="/dash/openings" class="nav-link" :key="4">
        <v-list-tile-action>
          <v-icon>description</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">openings</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile v-if="rootAdmin" to="/dash/messages" class="nav-link" :key="5">
        <v-list-tile-action>
          <v-icon>mail</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">messages</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <!--
      <v-list-tile v-if="rootAdmin" to="/dash/calendar" class="nav-link" :key="6">
        <v-list-tile-action>
          <v-icon>event_available</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">calendar</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      -->

      <v-list-tile v-if="rootAdmin" to="/dash/newsletter" class="nav-link" :key="7">
        <v-list-tile-action>
          <v-icon>drafts</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">Newsletter</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <!--
      <v-list-tile v-if="rootAdmin" to="/dash/notes" class="nav-link" :key="8">
        <v-list-tile-action>
          <v-icon>forum</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">notes</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      -->

      <v-list-tile v-if="rootAdmin" to="/dash/history" class="nav-link" :key="9">
        <v-list-tile-action>
          <v-icon>restore</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">history</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile to="/dash/profile" class="nav-link" :key="10">
        <v-list-tile-action>
          <v-icon>account_box</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size">profile</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-spacer class="menu--space"></v-spacer>

      <v-list-tile to="/login" @click="loggout" class="nav-link" :key="11">
        <v-list-tile-action>
          <v-icon>exit_to_app</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="link-text-size logout-link">logout</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </div>

  </v-list>
</template>
<script>
  export default {
    name: 'NavbarDash',
    props: ['auth', 'logout', 'root', 'isLoadingMenu'],
    computed: {
      rootAdmin() {
        return this.root == 5
      },
      isLoadingMenuStatus() {
        return this.isLoadingMenu
      }
    },
    methods: {
      loggout() {
        this.$emit('logout')
      }
    }
  }
</script>
