<template>
    <v-toolbar fixed app class="theme__dark">
        <span class="glyphicon glyphicon-equalizer small__ico__header" aria-hidden="true"></span>
        <v-toolbar-title class="navbar__title__text"><b>Recruiteriia</b></v-toolbar-title>
        <v-spacer></v-spacer>
    </v-toolbar>
</template>
<script>
export default {
    name: 'Navbar',
    props: ['auth']
}
</script>
