<template>
  <div>
    <v-toolbar tabs>
      <v-tabs slot="extension" v-model="tabs" grow centered color="transparent">
        <v-tab v-for="n in tab_items" :key="n" >
          {{ n }}
        </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-tabs-items v-model="tabs">
      <v-tab-item v-for="n in tab_items" :key="n" >
        <v-card class="right--drawer__card">
          <v-card-text>
            {{ text }}
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>
<script>
export default {
  data() {
    return {
      tabs: null,
      tab_items: ['Today', 'History'],
      text: 'Some text will be placing here soon...',
    }
  },
}
</script>
<style>
  .modal-container {
    height: 100% !important;
    background: #FFF;
  }
  .right-menu{
    width: 300px !important;
    padding-top: 65px;
    z-index:2
  }

  .right-menu .v-toolbar__content {
    height: 0 !important;
  }

  .right-menu .v-toolbar__extension {
    padding: 0 !important;
  }
  .v-overlay{
    z-index:1
  }
</style>
