<template>
  <v-layout row wrap>
    <v-flex md8>
      <div class="v-c mx-2 px-4 pb-3">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-card class="no-box-shadow animated--group animated" v-if="!isLoadingStatus">
            <!-- Card content -->
            <v-card-title class="py-4 title">
              <v-icon class="mr-2 lighten-4">person_add</v-icon>
              Add new candidate
            </v-card-title>
            <v-container grid-list-sm class="pa-4 pb-half" style="padding-bottom: 0 !important;">
              <v-layout row wrap>
                <v-flex xs12 md12>
                  <v-text-field
                    prepend-icon="person"
                    v-model="fio"
                    :rules="[rules.length(8), rules.required]"
                    placeholder="Name">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 md12>
                  <v-text-field
                    type="email"
                    v-model="email"
                    :rules="[rules.required]"
                    prepend-icon="mail"
                    placeholder="Email"></v-text-field>
                </v-flex>
                <v-flex xs12 md12>
                  <div class="divider-line"></div>
                </v-flex>
                <v-flex xs12 md12>
                  <v-combobox prepend-icon="code"
                              :rules="[rules.required]"
                              :items="stackList"
                              item-value="val"
                              item-text="text"
                              v-model="stack"
                              label="Choose Stack"
                              single-line
                  ></v-combobox>
                </v-flex>
                <v-flex xs12 md12>
                  <v-combobox
                    required
                    multiple
                    label="Skills"
                    chips
                    tags
                    solo
                    item-value="val"
                    item-text="text"
                    prepend-icon="local_offer"
                    clearable
                    v-model="tags"
                    :rules="[v => !!v || 'Item is required']"
                    class="no-box-shadow"
                  >
                    <template slot="selection" slot-scope="data">
                      <v-chip outline color="green" close @input="remove(data.item)" :selected="data.selected">
                        <strong>{{ data.item }}</strong>&nbsp;
                      </v-chip>
                    </template>
                  </v-combobox>
                </v-flex>
                <v-flex xs12 md12>
                  <div class="divider-line"></div>
                </v-flex>
                <v-flex xs12 md12>
                  <v-text-field
                    v-model="cvs"
                    placeholder="https://"
                    prepend-icon="link"></v-text-field>
                </v-flex>
                <v-flex xs12 md12>
                  <div class="divider-line"></div>
                </v-flex>
                <v-flex xs12 md3>
                  <v-text-field
                    v-model="salary"
                    :rules="[rules.length(3), rules.required]"
                    prepend-icon="attach_money"
                    placeholder="Salary"></v-text-field>
                </v-flex>
                <v-flex xs12 md3>
                  <v-combobox single-line
                              v-model="curr"
                              :items="currencyList"
                              item-value="val"
                              item-text="txt"
                              label="$ USD"
                              class="pr-5 small-text">
                    Some
                  </v-combobox>
                </v-flex>
                <v-flex xs12 md6>
                  <v-text-field
                    v-model="rate"
                    prepend-icon="schedule"
                    placeholder="Rate xx/hr $"></v-text-field>
                </v-flex>
                <v-flex xs12 md12>
                  <div class="divider-line"></div>
                </v-flex>
                <v-flex xs12 md12>
                  <v-divider></v-divider>
                </v-flex>
                <v-flex xs12 md12>
                  <v-textarea
                    v-model="custom_info"
                    label="Additional information"
                    value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                    hint="Hint text"
                  ></v-textarea>
                </v-flex>
              </v-layout>
            </v-container>
            <v-card-actions>
              <v-btn flat color="warning" class="px-4" @click="clearForm">Clear</v-btn>
              <v-spacer></v-spacer>
              <v-btn flat color="primary" class="px-4" @click="addNew" :disabled="!valid">Save record</v-btn>
            </v-card-actions>
            <!-- //End -->
          </v-card>
        </v-form>
      </div>
    </v-flex>
    <v-flex md4>
      <div class="ml-4 px-4">
        <v-card style="background: transparent;" class="no-box-shadow animated--group animated notif--box">
          <v-card-title class="mr-2 py-4 title">
            Tooltips
          </v-card-title>
          <v-card-text class="py-2">
            <v-layout row>
              <v-flex md12>
                <span class="red--text">*</span> Required fields:
                <v-list class="notif--box__inherit">
                  <v-list-tile-content>First name / Last name</v-list-tile-content>
                  <v-list-tile-content>Email</v-list-tile-content>
                  <v-list-tile-content>Stack</v-list-tile-content>
                  <v-list-tile-content>Skills</v-list-tile-content>
                  <v-list-tile-content>Salary | Rate</v-list-tile-content>
                </v-list>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </div>

      <div class="ml-4 px-4">
        <v-card style="background: transparent;" class="no-box-shadow animated--group animated mt-3">
          <v-card-title class="mr-2 pt-4 title">
            Uploading CV
          </v-card-title>
          <v-card-text class="px-0 py-0">
            <v-layout row>
              <v-flex md12>
                <uploader
                  @file-uploaded="addUserCVS"
                  @uploaded="upload_cvs = $event"
                  @deleted="upload_cvs = ''"
                  :email="email"
                  @file-removed="removeUserCVS"
                />
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </div>
    </v-flex>
    <v-snackbar
      :timeout="5000"
      :color="getSnackBar.type == '200' ? 'success' : 'error'"
      :multi-line="true"
      top
      v-model="getSnackBar.state"
    >
      {{ getSnackBar.type == '200' ? 'Candidate successfully added!' : 'Error while creating new candidate' }}
      <v-btn dark flat @click.native="getSnackBar.state = false">Close</v-btn>
    </v-snackbar>
  </v-layout>
</template>
<script>
import FileUploader from '@/components/Services/FileUploader'
import {ADD_CANDIDATE} from "../../store/actions.type";
import {mapGetters} from 'vuex';
import {stackList, currencyList} from "@/helpers/candidates";

export default {
  components: {'uploader': FileUploader},
  data() {
    return {
      valid: true,
      stackList: stackList,
      currencyList: currencyList,
      fio: '',
      email: '',
      cvs: 'http://',
      stack: '',
      tags: '',
      salary: '',
      rate: '',
      curr: '',
      custom_info: '',
      upload_cvs: '',
      rules: {
        length: len => v => (v || '').length >= len || 'Invalid character length',
        required: v => !!v || 'This field is required'
      },
    }
  },
  computed: {
    ...mapGetters([
      'isLoadingStatus',
      'getSnackBar',
    ])
  },
  methods: {
    clearForm() {
      this.$refs.form.reset()
    },
    addNew() {
      let _self = this
      if(_self.$refs.form.validate() && _self.tags.length > 1) {
        _self.tags = _self.tags.join(',')
        _self.$store.dispatch(ADD_CANDIDATE, {
          fio: _self.fio,
          email: _self.email,
          cvs: _self.cvs,
          stack: _self.stack.val,
          tags: _self.tags,
          salary: _self.salary,
          curr: _self.curr.val,
          rate: _self.rate,
          custom_info: _self.custom_info,
          upload_cvs: _self.upload_cvs,
        })
        this.clearForm()
        this.$emit('reloadList')
      }
    },
    addUserCVS(e) {
      this.upload_cvs = e
    },
    removeUserCVS() {
      this.upload_cvs = ''
    },
    remove(item) {
      this.tags.splice(this.tags.indexOf(item), 1)
      this.tags = [...this.initTags]
    }
  },
  created() {
    //todo...
  }
}
</script>
