<template>
  <div>
    <div class="v-c">
      <v-card class="no-box-shadow" v-if="!isLoadingStatus">
        <v-card-title>
          <h2 class="text-dark-grey">
            <v-icon>supervisor_account</v-icon>
            Candidates list
          </h2>
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="search"
          ></v-text-field>
        </v-card-title>
        <v-data-table
          hide-actions
          :headers="dataTableHeaders"
          :items="getCandidatesList.data"
          :search="search"
          loading="warning"
          class="no-box-shadow candidate-table-pagination candidate--table"
          :rows-per-page-items="itemsPerPage"
          no-data-text="Empty..."
          no-results-text="Empty..."
          :pagination.sync="pagSort"
        >
          <template slot="headerCell" slot-scope="props">
            <v-tooltip bottom>
              <span slot="activator">
                {{ props.header.text }}
              </span>
              <span>
                {{ props.header.text }}
              </span>
            </v-tooltip>
          </template>
          <template slot="items" slot-scope="props">
            <v-scale-transition>
              <tr :class="props.item.viewed == 1 ? '' : 'new-candidate'" :uid="props.item.id">
                <td class="pl-3">{{ props.item.fio }}</td>
                <td class="pl-3">{{ props.item.email }}</td>
                <td class="pl-3"><b style="color: #424242;">{{candidateHelper.stackType((props.item.stack) - 1)}}</b></td>
                <td class="pl-3" v-html="candidateHelper.tagChips(props.item.tags)"></td>
                <td class="pl-3" v-html="candidateHelper.showStatus(props.item.status)"></td>
                <td class="pl-3" v-if="props.item.salary > 0" v-html="'<b>' + candidateHelper.showcurr((props.item.currency) -1) + '</b> ' + props.item.salary"></td>
                <td class="pl-3" v-else v-html="props.item.rate + '/hr'" style="color: #696969;"></td>
                <td class="pl-3 td-actions">
                  <v-icon small @click="fullProfile(props.item.id, props.item)">visibility</v-icon>
                  <v-icon small @click="editProfile(props.item.id)">edit</v-icon>
                  <v-icon small @click="deleteCandidate(props.item.id)">delete</v-icon>
                </td>
              </tr>
            </v-scale-transition>
          </template>
        </v-data-table>
      </v-card>
    </div>
    <div class="text-xs-center pagination--toolbar pt-3">
      <v-pagination
        v-if="!isLoadingStatus"
        v-model="getCandidatesList.current_page"
        :length="getCandidatesList.last_page"
        @input="paginatePage"
        prev-icon="$vuetify.icons.prev"
        next-icon="$vuetify.icons.next"
      ></v-pagination>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { GET_ALL_CANDIDATES, SET_PAGINATE, GET_CURRENT_CANDIDATE, REFRESH_CANDIDATE_LIST } from '@/store/actions.type'
import candidateHelper from '@/helpers/candidates'
import { dataTableHeaders, itemsPerPage } from '@/helpers/candidates'

export default {
  name: 'candidates',
  data() {
    return {
      candidateProfile: null,
      search: '',
      selected: [],
      itemsPerPage: itemsPerPage,
      dataTableHeaders: dataTableHeaders,
      candidateHelper: candidateHelper,
      pagSort: {
        sortBy: 'id',
        descending: true
      },
    }
  },
  computed: {
    ...mapGetters([
      'getCandidatesList',
      'isLoadingStatus',
    ]),
  },
  methods: {
    getList() {
      this.$store.dispatch(GET_ALL_CANDIDATES)
    },
    getRefreshList() {
      this.$store.dispatch(REFRESH_CANDIDATE_LIST)
    },
    fullProfile(id) {
      this.$router.push('/dash/candidates/candidate/' + id)
    },
    editProfile(id) {
      this.$router.push('/dash/candidates/edit/' + id)
      this.$route.params.id = id
    },
    deleteCandidate(id) {
      //todo...
    },
    reloadList() {
      this.getList()
    },
    paginatePage(page) {
      this.$store.dispatch(SET_PAGINATE, {page: page})
    }
  },
  created() {
    this.getList()
    setInterval(() => {
      this.getRefreshList()
    }, 15000)
  }
}
</script>
