<template>
  <div>
    <v-layout row wrap v-if="!isLoadingStatus">
      <v-flex md8 class="px-3 py-3">
        <div class="v-c">
          <v-btn @click="goBack" flat color="red ligthen-1">
            <v-icon small>reply</v-icon>
            go back
          </v-btn>
          <v-card class="no-box-shadow">
            <v-card-title>
              <span class="headline">Edit Candidate - {{data.fio}}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-text-field label="Full name" v-model="data.fio"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field label="Email" v-model="data.email"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                  <v-combobox   :rules="[rules.required]"
                                :items="getStack"
                                item-value="value"
                                item-text="text"
                                v-model="pullStack"
                                label="Choose Stack"
                                single-line
                                disabled
                    ></v-combobox>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-select
                      v-model="selectStack"
                      :items="stackList"
                      item-text="text"
                      item-value="val"
                      label="Select new Stack"
                      persistent-hint
                      return-object
                      single-line
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 md12>
                    <v-combobox
                      required
                      multiple
                      label="Skills"
                      chips
                      tags
                      solo
                      item-value="val"
                      item-text="text"
                      prepend-icon="local_offer"
                      clearable
                      v-model="data.tags"
                      :rules="[v => !!v || 'Item is required']"
                      class="no-box-shadow"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip small class="small-tags" outline color="green" close @input="remove(data.item)">
                          <strong>{{ data.item }}</strong>&nbsp;
                        </v-chip>
                      </template>
                    </v-combobox>
                  </v-flex>
                  <v-flex xs12 md12>
                    <div class="divider-line"></div>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field
                      v-model="data.cvs"
                      placeholder="https://"></v-text-field>
                  </v-flex>
                  <v-flex xs12 md12>
                    <div class="divider-line"></div>
                  </v-flex>
                  <v-flex xs12 md3>
                    <v-text-field
                      v-model="data.salary"
                      :rules="[rules.length(3), rules.required]"
                      prepend-icon="attach_money"
                      placeholder="Salary"></v-text-field>
                  </v-flex>
                  <v-flex xs12 md3>
                    <v-combobox single-line
                                v-model="data.curr"
                                :items="getCurrency"
                                item-value="val"
                                item-text="txt"
                                label="$ USD"
                                class="pr-5 small-text">
                      Some
                    </v-combobox>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                      v-model="data.rate"
                      prepend-icon="schedule"
                      placeholder="Rate xx/hr $"></v-text-field>
                  </v-flex>
                  <v-flex xs12 md12>
                    <div class="divider-line"></div>
                  </v-flex>
                  <v-flex xs12 md12>
                    <v-divider></v-divider>
                  </v-flex>
                  <v-flex xs12 md12>
                    <v-textarea
                      v-model="data.custom_info"
                      label="Additional information"
                      value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                      hint="Hint text"
                    ></v-textarea>
                  </v-flex>
                </v-layout>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-btn color="cyan" flat class="text--white px-5" @click="saveChanges(true)">Save & Edit</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" flat class="text--white px-5" @click="saveChanges(false)">Update</v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </v-flex>
      <v-flex md4 class="px-3 py-3">
        <div class="v-c">
          <v-btn @click="" v-if="data.upload_cvs" flat color="warning">
            <v-icon small class="mr-1">edit</v-icon>
            remove
          </v-btn>
          <v-btn v-else @click="" flat color="success lighten-1">
            <v-icon small class="mr-1">attach_file</v-icon>
            upload
          </v-btn>
          <v-card class="no-box-shadow">
            <v-card-title>
              <span class="headline" v-if="data.upload_cvs">Attached</span>
              <span class="headline" v-else>Not attached yet...</span>
            </v-card-title>
            <v-card-text>
              <v-text-field v-show="data.upload_cvs" disabled v-model="data.upload_cvs"></v-text-field>
            </v-card-text>
          </v-card>
          <uploader
            v-if="!data.upload_cvs"
            :email="data.email"
            :attached-file="data.upload_cvs !== null"
            @file-uploaded="addUserCVS"
            @uploaded="data.upload_cvs = $event"
            @deleted="data.upload_cvs = ''"
            @file-removed="removeUserCVS"
            class="my-3" />
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import axios from 'axios'
import store from '@/store'
import candidateHelper from '@/helpers/candidates'
import FileUploader from '@/components/Services/FileUploader'
import {mapGetters} from 'vuex'
import {stackList, currencyList} from '@/helpers/candidates'
import {api, headers} from '@/helpers/api'
import {IS_LOADING} from '@/store/mutations.type'
import {GET_CURRENT_CANDIDATE, UPDATE_CANDIDATE_INFO} from '@/store/actions.type'

export default {
  name: 'edit-profile',
  components: {'uploader': FileUploader},
  data() {
    return {
      data: '',
      candidateHelper: candidateHelper,
      selectStack: '',
      rules: {
        length: len => v => (v || '').length >= len || 'Invalid character length',
        required: v => !!v || 'This field is required'
      },
    }
  },
  computed: {
    ...mapGetters([
      'getCurrentCandidate',
      'getSnackBar',
      'isLoadingStatus',
      'getStack',
      'getCurrency',
    ]),
    pullStack: {
      get() {
        return candidateHelper.stackType(+this.data.stack - 1)
      },
      set(type) {
        console.log(type)
        console.log(candidateHelper.stackType(this.data.stack))
      }
    },
    stackList() {
      let res = []
      for(let i in this.getStack) {
        res.push({val: +i+1, text: this.getStack[i]})
      }
      return res
    }
  },
  watch: {
    'data.curr': function(newVal) {
      if(newVal !== null) {this.data.currency = newVal.val}
    },
  },
  methods: {
    goBack() {
      this.$router.go(-1)
    },
    getProfile(id) {
      let _self = this
      return new Promise((resolve, reject) => {
        store.commit(IS_LOADING)
        axios.get(api.getCandidateProfile + id, headers)
          .then(res => {
            store.commit(IS_LOADING)
            _self.data = res.data.data
            if(typeof _self.data.tags === 'string') {
              _self.data.tags = _self.data.tags.split(',')
            }
            resolve(res.data)
          })
          .catch(e => {
            store.commit(IS_LOADING)
            reject(e.response)
            console.log(e.response.status)
          })
      })
    },
    saveChanges(type) {
      let _self = this

      if(typeof _self.data.curr !== 'undefined') {
        _self.data.currency = _self.data.curr.val
      }

      _self.data.stack = _self.selectStack.val
      _self.$store.dispatch(UPDATE_CANDIDATE_INFO, {id: _self.$route.params.id, ..._self.data})

      if(type === true) {
        _self.$router.push({name: 'editprofile', params: {id: _self.$route.params.id}})
      } else {
        _self.$router.push({name: 'candidates'})
      }

    },
    remove(item) {
      this.data.tags.splice(this.data.tags.indexOf(item), 1)
      this.data.tags = [...this.data.tags]
    },
    addUserCVS(e) {
      this.data.upload_cvs = e
    },
    removeUserCVS() {
      this.data.upload_cvs = ''
    },
  },
  created() {
    this.getProfile(this.$route.params.id)
  }
}
</script>
