<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 sm12 md12 class="text-md-center">
        <h4 class="d-inline display-2">{{candidateInfo.fio}}</h4>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md6>
        <div class="py-3">
          <v-btn flat color="primary" @click="goBack">
            <v-icon small class="mr-1">reply</v-icon>
            back
          </v-btn>
        </div>
      </v-flex>
      <v-flex xs12 sm6 md6>
        <div class="py-3 float-right">
          <v-btn flat color="warning" @click="editCandidate(candidateInfo.id)">
            <v-icon small class="mr-1">edit</v-icon>
            edit
          </v-btn>
          <v-btn flat color="error">
            <v-icon small class="mr-1">delete</v-icon>
            delete
          </v-btn>
        </div>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm8 md8>
        <v-layout row wrap>
          <v-flex xs12 sm12 md12>
            <div class="v-c">
              <candidate-time-line />
            </div>
          </v-flex>
          <v-flex xs12 sm12 md12>
            <div class="v-c mt-5" v-show="candidateInfo.upload_cvs">
              <!--
               <iframe
                 v-if="getCurrentCandidate.upload_cvs !== null"
                 :src="frameHost + getCurrentCandidate.upload_cvs + '&embedded=true'"
                 frameborder="0"
                 style="width:100%; min-height: 700px; border: 0 !important; border-left: 1px solid #f1f1f1;"></iframe>
               //-->
              <h3 class="p-5">Uploaded CV</h3>
              <iframe
                src=""
                frameborder="0"
                style="width:100%; min-height: 700px; border: 0 !important; border-left: 1px solid #f1f1f1;"
              ></iframe>
            </div>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm4 md4>
        <div class="v-c ml-3 px-3 py-3">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-sub-title>{{candidateInfo.email}}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider inset></v-divider>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">code</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-sub-title><b>{{ candidateHelper.stackType((candidateInfo.stack) -1) }}</b></v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider inset></v-divider>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">local_offer</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-sub-title v-html="candidateInfo.tags ? candidateHelper.tagChips(candidateInfo.tags) : {}"></v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider inset></v-divider>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">attach_money</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-sub-title v-if="candidateInfo.salary > 0" v-html="'<b>' + candidateHelper.showcurr((candidateInfo.currency) -1) + '</b> ' + candidateInfo.salary"></v-list-tile-sub-title>
              <v-list-tile-sub-title v-else v-html="'<b>' + candidateHelper.showcurr((candidateInfo.currency) -1) + '</b> ' + candidateInfo.rate + '/hr'"></v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider inset></v-divider>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">link</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-sub-title class="grey--text text--darken-1">{{ candidateInfo.cvs }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider inset></v-divider>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="indigo">description</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <div v-html="candidateInfo.custom_info" />
            </v-list-tile-content>
          </v-list-tile>

          <v-divider inset></v-divider>
        </div>
      </v-flex>
    </v-layout>
    <v-layout row wrap></v-layout>
  </v-container>
</template>
<script>
import axios from 'axios'
import candidateHelper from '@/helpers/candidates'
import CandidateTimeLine from '@/components/Candidates/CandidateTimeLine'
import {mapGetters} from 'vuex'
import {api, headers} from '@/helpers/api'
import {IS_LOADING} from '@/store/mutations.type'
import { LOADING, GET_CURRENT_CANDIDATE } from '@/store/actions.type'

export default {
  name: 'candidate-profile',
  components: {CandidateTimeLine},
  data() {
    return {
      candidateInfo: '',
      candidateHelper: candidateHelper,
      frameHost: 'https://docs.google.com/gview?url=https://www.recruiteriia.com/storage/'
    }
  },
  computed: {
    ...mapGetters([
      'isLoadingStatus',
    ])
  },
  methods: {
    goBack() {
      this.$router.go(-1)
    },
    editCandidate(id) {
      this.$router.push({name: 'editprofile', params: {id: id}})
    },
    getCandidateInfo() {
      let _self = this
      return new Promise(() => {
        _self.$store.commit(IS_LOADING)
        axios.get(api.getCandidateProfile + _self.$route.params.id, headers)
          .then(res => {
            _self.$store.commit(IS_LOADING)
            _self.candidateInfo = res.data.data
          })
          .catch(e => {
            _self.$store.commit(IS_LOADING)
            console.log(e.response.status)
          })
      })
    }
  },
  created() {
    this.getCandidateInfo()
  }
}
</script>
