<template>
  <v-dialog v-model="dialog" width="800px">
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title">
          Add new candidate
        </v-card-title>
        <v-container grid-list-sm class="pa-4 pb-half" style="padding-bottom: 0 !important;">
          <v-layout row wrap>
            <v-flex xs6 align-center justify-space-between>
              <v-layout align-center>
                <v-text-field
                  prepend-icon="person"
                  v-model="fio"
                  :rules="[rules.length(8), rules.required]"
                  placeholder="Name"
                  class="pr-5"></v-text-field>
              </v-layout>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                type="email"
                v-model="email"
                :rules="[rules.required]"
                prepend-icon="mail"
                placeholder="Email"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <div class="divider-line"></div>
            </v-flex>
            <v-flex xs4>
              <v-combobox prepend-icon="code"
                          :rules="[rules.length(5), rules.required]"
                          :items="stackList"
                          item-value="val"
                          item-text="text"
                          v-model="stack"
                          label="Choose Stack"
                          single-line
                          class="pr-5"
              ></v-combobox>
            </v-flex>
            <v-flex xs8>
              <v-text-field
                v-model="cvs"
                placeholder="https://"
                prepend-icon="link"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <div class="divider-line"></div>
            </v-flex>
            <v-flex xs5>
              <label class="d-block ml-3 pl-4 py-3 text--secondary"><b>Enter skills pressing enter for each</b></label>
            </v-flex>
            <v-flex xs7>
              <v-combobox
                required
                multiple
                label="Skills"
                chips
                tags
                solo
                item-value="val"
                item-text="text"
                prepend-icon="local_offer"
                clearable
                v-model="tags"
                :rules="[v => !!v || 'Item is required']"
                class="no-box-shadow"
              >
                <template slot="selection" slot-scope="data">
                  <v-chip outline color="green" close @input="remove(data.item)" :selected="data.selected">
                    <strong>{{ data.item }}</strong>&nbsp;
                  </v-chip>
                </template>
              </v-combobox>
            </v-flex>
            <v-flex xs12>
              <div class="divider-line"></div>
            </v-flex>
            <v-flex xs3>
              <v-text-field
                v-model="salary"
                :rules="[rules.length(3), rules.required]"
                prepend-icon="attach_money"
                placeholder="Salary"></v-text-field>
            </v-flex>
            <v-flex xs2>
              <v-combobox single-line
                          v-model="curr"
                          :items="currency"
                          item-value="val"
                          item-text="txt"
                          label="$ USD"
                          class="pr-5 small-text">
                Some
              </v-combobox>
            </v-flex>
            <v-flex xs7>
              <v-text-field
                v-model="rate"
                prepend-icon="schedule"
                placeholder="Rate xx/hr $"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <div class="divider-line"></div>
            </v-flex>
            <v-flex xs12 md12>
              <v-divider></v-divider>
            </v-flex>
            <v-flex xs6 md6>
              <v-textarea
                v-model="custom_info"
                label="Additional information"
                value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                hint="Hint text"
              ></v-textarea>
            </v-flex>
            <v-flex xs6 md6>
              <uploader @file-uploaded="addUserCVS" :cName="email" @file-removed="removeUserCVS" />
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn color="warning" @click="clearForm">Clear</v-btn>
          <v-btn color="secondary" @click="closeModal">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="addNew" :disabled="!valid">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>
<script>
import { ADD_CANDIDATE } from "@/store/actions.type";
import FileUploader from '@/components/Services/FileUploader'

export default {
  props: [
    'dialog',
    'stackList',
    'close',
    'currency',
    'reloadList'
  ],
  components: {'uploader': FileUploader},
  data() {
    return {
      valid: true,
      fio: '',
      email: '',
      stack: '',
      cvs: '',
      tags: '',
      salary: '',
      curr: '',
      rate: '',
      custom_info: '',
      rules: {
        length: len => v => (v || '').length >= len || 'Invalid character lengt',
        required: v => !!v || 'This field is required'
      },
      newCandidateInfo: {upload_cvs: ''}
    }
  },
  methods: {
    addNew() {
      if(this.$refs.form.validate() && this.tags.length != '') {
        this.tags = this.tags.join(', ')
        this.$store.dispatch(ADD_CANDIDATE, {
          status: 2,
          viewed: 1,
          fio: this.fio,
          email: this.email,
          stack: this.stack,
          cvs: this.cvs,
          tags: this.tags,
          salary: this.salary,
          currency: this.curr,
          rate: this.rate,
          custom_info: this.custom_info
        })
        this.clearForm()
        this.closeModal()
        this.$emit('reloadList')
      }
    },
    closeModal() {
      this.$refs.form.reset()
      this.$emit('close')
    },
    clearForm() {
      this.$refs.form.reset()
    },
    addUserCVS(e) {
      this.newCandidateInfo.upload_cvs = e
    },
    removeUserCVS() {
      this.newCandidateInfo.upload_cvs = ''
    }
  }
}
</script>
<style>
  td.td-actions i:first-child,
  td.td-actions i:nth-child(2) {
    margin-right: 10px;
  }
</style>
