<template>
  <v-card class="no-box-shadow animated--group animated">
    <div class="text-md-center py-5">
      <h2>{{title}}</h2>
    </div>
  </v-card>
</template>
<script>
  export default {
    data() {
      return {
        title: 'Page not found, 404'
      }
    }
  }
</script>
