<template>
  <div>
    <div class="v-c">
      <v-card class="no-box-shadow animated--group animated" v-if="!isLoadingStatus">
        <v-card-title>
          <h2 class="text-dark-grey">
            <v-icon>restore</v-icon>
            History list...
          </h2>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="getHistoryList.data"
          :search="search"
          :rows-per-page-items="perPage"
          hide-actions
          class="no-box-shadow candidate--table"
        >
          <template slot="items" slot-scope="props">
            <td>
                <span :class="historyHelper.checkType(props.item.type)">
                    {{ historyHelper.checkBadge(props.item.type) }}
                </span>
            </td>
            <td v-html="props.item.actions"></td>
            <td>{{ historyHelper.formatDate(props.item.created_at) }}</td>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </v-data-table>
      </v-card>
    </div>
    <div class="text-xs-center pagination--toolbar pt-3">
      <v-pagination
        v-if="!isLoadingStatus"
        v-model="getHistoryList.current_page"
        :length="getHistoryList.last_page"
        @input="paginatePage"
        prev-icon="$vuetify.icons.prev"
        next-icon="$vuetify.icons.next"
      ></v-pagination>
    </div>
  </div>
</template>
<script>
import { GET_HISTORY_LIST, SET_PAGINATE_HISTORY } from "@/store/actions.type";
import { mapGetters } from 'vuex'
import historyHelper from '@/helpers/history'
import { tableHeaders } from "@/helpers/history";

export default {
  data() {
    return {
      search: '',
      perPage: [20],
      historyHelper: historyHelper,
      headers: tableHeaders,
    }
  },
  computed: {
    ...mapGetters([
      'getHistoryList',
      'isLoadingStatus',
    ])
  },
  methods: {
    getHistory() {
      this.$store.dispatch(GET_HISTORY_LIST)
    },
    paginatePage(page) {
      this.$store.dispatch(SET_PAGINATE_HISTORY, {page: page})
    }
  },
  created() {
    this.getHistory()
  }
}
</script>

