<template>
    <div v-if="!isLoadingStatus">
      <v-layout row wrap v-if="userRole >= 5">
        <v-flex xs12 sm6 md3 class="pb-2">
          <v-card class="v-c animated--group animated mx-2">
            <v-card-title class="card--wp">
              <v-btn depressed small fab color="success">
                <v-icon>person_add</v-icon>
              </v-btn>
              <div>
                <span class="d-block text-dark-grey font-weight-bold pl-3">1</span>
                <small>Candidates</small>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
        <v-flex xs12 sm6 md3 class="pb-2">
          <v-card class="v-c animated--group animated mx-2">
            <v-card-title class="card--wp">
              <v-btn depressed small fab color="primary">
                <v-icon>mail</v-icon>
              </v-btn>
              <div>
                <span class="d-block text-dark-grey font-weight-bold pl-3">4</span>
                <small>Notifications</small>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
        <v-flex xs12 sm6 md3 class="pb-2">
          <v-card class="v-c animated--group animated mx-2">
            <v-card-title class="card--wp">
              <v-btn depressed small fab color="orange">
                <v-icon color="white">description</v-icon>
              </v-btn>
              <div>
                <span class="d-block text-dark-grey font-weight-bold pl-3">1</span>
                <small>Applied</small>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
        <v-flex xs12 sm6 md3 class="pb-2">
          <v-card class="v-c animated--group animated mx-2">
            <v-card-title class="card--wp">
              <v-btn depressed small fab color="error">
                <v-icon color="white">history</v-icon>
              </v-btn>
              <div>
                <span class="d-block text-dark-grey font-weight-bold pl-3">0</span>
                <small>History</small>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 sm12 md6 class="py-2">
          <v-card class="v-c animated--group animated mx-2">
            <v-card-title class="px-0 py-0">
              <v-data-table
                hide-actions
                :headers="dataTableHeaders"
                :items="getCandidatesList.data"
                loading="warning"
                class="no-box-shadow candidate-table-pagination candidate--table hp--table"
                :rows-per-page-items="itemsPerPage"
                no-data-text="Empty..."
                no-results-text="Empty..."
                :pagination.sync="pagSort"
              >
                <template slot="headerCell" slot-scope="props">
                  <v-tooltip bottom>
              <span slot="activator">
                {{ props.header.text }}
              </span>
                    <span>
                {{ props.header.text }}
              </span>
                  </v-tooltip>
                </template>
                <template slot="items" slot-scope="props">
                  <v-scale-transition>
                    <tr :class="props.item.viewed == 1 ? '' : 'new-candidate'" :uid="props.item.id">
                      <td class="pl-3">{{ props.item.fio }}</td>
                      <td class="pl-3">{{ props.item.email }}</td>
                      <td class="pl-3"><b>{{ candidateHelper.stackType((props.item.stack) -1) }}</b></td>
                      <td class="pl-3" v-if="props.item.salary > 0" v-html="'<b>' + candidateHelper.showcurr((props.item.currency) -1) + '</b> ' + props.item.salary"></td>
                      <td class="pl-3" v-else v-html="props.item.rate + '/hr'" style="color: #696969;"></td>
                    </tr>
                  </v-scale-transition>
                </template>
              </v-data-table>
            </v-card-title>
          </v-card>
        </v-flex>
        <v-flex xs12 sm12 md6 class="py-2">
          <v-card class="v-c animated--group animated mx-2">
            <v-card-title class="px-0 py-0">
              <div id="chart">
                <apexcharts width="100%" height="300" type="bar" :options="chartOptions" :series="series"></apexcharts>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs4 sm4 md4>
          <h3>Daily rates</h3>
          <div v-if="!currencyRate">
            <span class="d-block">

            </span>
          </div>
        </v-flex>
        <v-flex xs2 sm2 md2>
          <v-btn color="indigo" class="text--white" small @click="getCurrencyRate">
            get fresh
          </v-btn>
        </v-flex>
      </v-layout>
    </div>
</template>
<script>
import axios from 'axios'
import VueApexCharts from 'vue-apexcharts'
import { mapGetters } from 'vuex'
import { GET_ALL_CANDIDATES, GET_STACKS, GET_CURRENCY} from "@/store/actions.type";
import candidateHelper from '@/helpers/candidates'
import {
  stackList,
  currencyList,
  dataTableHeaders,
  itemsPerPage
} from "@/helpers/candidates";

export default {
  name: 'homepage',
  components: {
    apexcharts: VueApexCharts,
  },
  data() {
    return {
      currencyRate: null,
      itemsPerPage: [5],
      dataTableHeaders: [
        {text: 'Full name', value: 'fio'},
        {text: 'Email', value: 'email'},
        {text: 'Stack', value: 'stack'},
        {text: 'Salary', value: 'salary'},
      ],
      pagSort: {
        sortBy: 'id',
        descending: true
      },
      candidateHelper: candidateHelper,
      stackList: stackList,
      currencyList: currencyList,
      chartOptions: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]
        }
      },
      series: [{
        name: 'series-1',
        data: [30, 40, 45, 50, 49, 60, 70, 91]
      }]
    }
  },
  computed: {
    ...mapGetters([
      'getCandidatesList',
      'isLoadingStatus',
      'userRole',
    ])
  },
  methods: {
    getList() {
      this.$store.dispatch(GET_ALL_CANDIDATES)
    },
    getCurrencyRate() {
      let _self = this
      return new Promise(() => {
        axios.get('https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5')
          .then((res) => {
            _self.currencyRate = res.data
          })
          .catch(e => {
            console.log(e.response.status)
          })
      })
    }
  },
  created() {
    this.getList()
  }
}
</script>
