<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm6 md4 class="animated--group animated">
            <v-card class="elevation-12 sign--mask">
                <v-toolbar dark color="light-blue accent-2">
                    <v-toolbar-title>
                        Login form <v-icon medium>lock_open</v-icon>
                    </v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <v-form class="sign--form">
                        <v-text-field
                                v-model="username"
                                prepend-icon="person"
                                color="white"
                                name="login"
                                label="Login"
                                class="auth--fields"
                                type="email">
                        </v-text-field>
                        <v-text-field
                                v-model="password"
                                id="password"
                                prepend-icon="lock"
                                color="white"
                                name="password"
                                label="Password"
                                class="auth--fields"
                                type="password">
                        </v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions class="pb-3">
                    <v-btn block
                           @click="login(username, password)"
                           large
                           class="button--mlr--20 text--white"
                           color="light-blue accent-2">
                        Login
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
import store from '@/store'
import {LOGIN} from "@/store/actions.type";

export default {
    name: 'Login',
    data() {
        return {
            username: null,
            password: null,
        }
    },
    methods: {
        login(username, password) {
            store.dispatch(LOGIN, { username, password })
        }
    },
}
</script>
