<template>
  <div>
    <v-layout row wrap>
      <v-flex md3>
        <div class="v-c mx-3">
          <h3>Column One</h3>
          <draggable class="list-group" element="ul" v-model="list" :options="dragOptions" :move="onMove" @start="isDragging=true" @end="isDragging=false">
            <transition-group type="transition" :name="'flip-list'">
              <v-card-text class="list-group-item" v-for="element in list" :key="element.order">
                <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
                <i class="fa fa-eye"></i>
                {{element.name}}
                <span class="badge">{{element.order}}</span>
              </v-card-text>
            </transition-group>
          </draggable>
        </div>
      </v-flex>
      <v-flex md3>
        <div class="v-c mx-3">
          <h3>Column Two</h3>
          <draggable element="span" v-model="list2" :options="dragOptions" :move="onMove">
            <transition-group name="no" class="list-group" tag="ul">
              <li class="list-group-item" v-for="element in list2" :key="element.order">
                <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
                {{element.name}}
                <span class="badge">{{element.order}}</span>
              </li>
            </transition-group>
          </draggable>
        </div>
      </v-flex>
      <v-flex md3>
        <div class="v-c mx-3">
          <h3>Column Three</h3>
          <draggable element="span" v-model="list3" :options="dragOptions" :move="onMove">
            <transition-group name="no" class="list-group" tag="ul">
              <li class="list-group-item" v-for="element in list3" :key="element.order">
                <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
                {{element.name}}
                <span class="badge">{{element.order}}</span>
              </li>
            </transition-group>
          </draggable>
        </div>
      </v-flex>
      <v-flex md3>
        <div class="v-c mx-3">
          <h3>Column Four</h3>
          <draggable element="span" v-model="list4" :options="dragOptions" :move="onMove">
            <transition-group name="no" class="list-group" tag="ul">
              <li class="list-group-item" v-for="element in list4" :key="element.order">
                <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
                {{element.name}}
                <span class="badge">{{element.order}}</span>
              </li>
            </transition-group>
          </draggable>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import draggable from 'vuedraggable'

export default {
  components: {draggable},
  data() {
    return {
      list: [
        {name: 'john', order: 1, fixed: false},
        {name: 'Sarah', order: 2, fixed: false},
        {name: 'Deer', order: 3, fixed: false},
        {name: 'Barry', order: 4, fixed: false},
      ],
      list2: [],
      list3: [],
      list4: [],
      editable: true,
      isDragging: false,
      delayedDragging: false
    }
  },
  methods: {
    orderList() {
      this.list = this.list.sort((one, two) => {
        return one.order - two.order;
      });
    },
    onMove({ relatedContext, draggedContext }) {
      const relatedElement = relatedContext.element;
      const draggedElement = draggedContext.element;
      return (
        (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
      );
    }
  },
  computed: {
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        disabled: !this.editable,
        ghostClass: "ghost"
      };
    },
  },
  watch: {
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true;
        return;
      }
      this.$nextTick(() => {
        this.delayedDragging = false;
      });
    }
  }
}
</script>
<style>
  .flip-list-move {
    transition: transform 0.5s;
  }
  .no-move {
    transition: transform 0s;
  }
  .ghost {
    opacity: 0.5;
    background: #c8ebfb;
  }
  .list-group {
    min-height: 20px;
  }
  .list-group-item {
    cursor: move;
  }
  .list-group-item i {
    cursor: pointer;
  }
</style>

