<template>
  <v-layout row wrap>
    <v-flex md8>
      <div class="v-c mx-2 px-4 pb-3">
        <v-card class="no-box-shadow animated--group animated" v-if="!isLoadingStatus">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-card-title class="py-4 title">
              <v-icon class="mr-3">event</v-icon>
              Create card for Newsletter
            </v-card-title>
            <v-card-text>
              <v-flex xs12 sm12 md12>
                <div class="mb-5">
                  <h2 class="light-blue--text text--darken-1 font-weight-regular">Select Hot-Opening</h2>
                  <v-select
                    :items="getListOpenings.data"
                    item-text="title"
                    item-value="id"
                    v-model="initSelect"
                    :rules="[v => !!v || 'Opening is required']"
                    menu-props="auto"
                    label="Select"
                    hide-details
                    prepend-icon="filter_list"
                    single-line
                  ></v-select>
                </div>
              </v-flex>
              <v-flex xs12 sm12 md12>
                <div>
                  <h2 class="light-blue--text text--darken-1 font-weight-regular">Choose candidate skills</h2>
                  <v-combobox
                    required
                    multiple
                    label="Skills"
                    chips
                    tags
                    solo
                    item-value="val"
                    item-text="text"
                    prepend-icon="local_offer"
                    clearable
                    v-model="initTags"
                    :rules="[v => !!v || 'Skills is required']"
                    class="no-box-shadow"
                  >
                    <template slot="selection" slot-scope="data">
                      <v-chip outline color="green" close @input="remove(data.item)" :selected="data.selected">
                        <strong>{{ data.item }}</strong>&nbsp;
                      </v-chip>
                    </template>
                  </v-combobox>
                </div>
              </v-flex>
            </v-card-text>
            <v-card-actions>
              <v-btn color="info" class="px-5" @click="sendToLog">save</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="teal lighten-2" class="text--white" @click="openDialogShowList">
                <v-icon class="mr-2">description</v-icon>
                show list
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </div>
    </v-flex>
    <v-flex md4 v-if="!isLoadingStatus">
      <div class="ml-3 mb-3 px-3 v-c">
        <v-text-field
          label="Search Opening..."
          v-model="initSearch"
        ></v-text-field>
      </div>
      <div class="scroll--box ml-3 v-c px-3">
        <div class="my-3 opening--hover" v-for="(opening, key) in canSortOpenings" :key="key" :style="initSelect === opening.id ? 'background: rgba(225,225,225,.60);' : ''" @click="setInitSelect(opening.id)">
          <v-layout row wrap>
            <v-flex md4>
              <div :style="'background: url(http://rii.loc/images/openings/' + opening.img + ') no-repeat;'" class="opening--box__bg elevation-6" :alt="opening.title"></div>
            </v-flex>
            <v-flex md8 class="px-2">
              <h4>{{opening.title}}</h4>
              <span class="d-block" v-html="opening.salary ? '<b>$</b>' + opening.salary : opening.rate"></span>
              <span class="d-block">{{opening.location}} / {{opening.type === 0 ? 'remote' : 'relocate'}}</span>
            </v-flex>
          </v-layout>
        </div>
      </div>
    </v-flex>

    <v-dialog v-model="dialog" scrollable width="850px">
      <v-card>
        <v-card-title fixed>
          <span class="headline">Candidates matched</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>

          <v-data-table
            :items="canSortCandidates || []"
            select-all
            hide-headers
            hide-actions
            item-key="name"
          >
            <template slot="items" slot-scope="props">
              <tr>
                <td style="padding-left: 10px !important; padding-right: 4px !important;">
                    <v-icon color="grey darken-1" flat small @click="logThis(props.item.id)">delete</v-icon>
                </td>
                <td class="text-xs-left">{{ props.item.fio }}</td>
                <td class="text-xs-left">{{ props.item.email }}</td>
                <td class="text-xs-left"><b style="text-transform: uppercase">{{ candidateHelpers.checkStack(props.item.stack) }}</b></td>
                <td class="text-xs-left" v-html="candidateHelpers.tagChips(props.item.tags)"></td>
              </tr>
            </template>
          </v-data-table>

        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="cyan darken-1" flat="flat">Save</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="black darken-1" flat="flat" @click="dialog = !dialog">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import {mapGetters} from 'vuex'
import candidateHelper from '@/helpers/candidates'
import {GET_LIST_OPENING, GET_ALL_CANDIDATES} from "@/store/actions.type"

export default {
  name: 'candidate-newsletter',
  data() {
    return {
      valid: true,
      initSelect: '',
      initTags: '',
      initSearch: '',
      dialog: false,
      selectedData: [],
      collectedList: [],
      candidateHelpers: candidateHelper,
      dialogm1: '',
    }
  },
  computed: {
    ...mapGetters([
      'isLoadingStatus',
      'getSnackBar',
      'getListOpenings',
      'getCandidatesList',
    ]),
    canSortOpenings() {
      let _self = this
      if(typeof _self.getListOpenings.data === 'undefined') return
      return _self.getListOpenings.data.filter(item => {
        return item.title.toLowerCase().includes(_self.initSearch.toLowerCase());
      })
    },
    canSortCandidates() {
      let _self = this
      if(typeof _self.getCandidatesList.data === 'undefined' || this.initTags === '') return
      return _self.getCandidatesList.data.filter(item => {
        for(let i in _self.initTags) {
          return item.tags.toLowerCase().includes(String(_self.initTags[i]).toLowerCase()) ? _self.selectedData.push(item) : null
        }
        //return item.tags.toLowerCase().includes(String(this.initTags).toLowerCase()) ? this.selectedData.push(item) : null
      })
    }
  },
  methods: {
    getData() {
      return Promise.all([this.$store.dispatch(GET_LIST_OPENING), this.$store.dispatch(GET_ALL_CANDIDATES)])
    },
    openDialogShowList() {
      this.dialog = !this.dialog
    },
    sendToLog() {
      if(this.$refs.form.validate() && this.initTags.length > 0) {
        console.log(this.initTags.length + ' - valid form')
        console.log('[skills: ' + this.initTags + ', openingID: ' + this.initSelect + ']')
      } else {
        console.log(this.initTags.length + ' - invalid')
      }
    },
    setInitSelect(val) {
      this.initSelect = val
    },
    logThis(value) {
      console.log('clicked: ' + value)
    },
    remove(item) {
      this.initTags.splice(this.initTags.indexOf(item), 1)
      this.initTags = [...this.initTags]
    }
  },
  created() {
    this.getData()
  },
}
</script>
