<template>
  <transition name="fade" mode="out-in" column align-center>
    <router-view />
  </transition>
</template>
<script>
  export default {
      watch: {
          '$route' (to, from) {
              this.$route.params.to = to
              this.$route.params.from = from
          }
      }
  }
</script>
<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s !important;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0 !important;
  }
</style>
